.env
/notes
/scripts
django.dot
code.txt
cxprofile.htmlback
*.pyc
user_app/__pycache__
CORE/__pycache__
script copy.py
/Back
static/js/main.js
db.sqlite3
debug.log
CORE/__pycache__/settings.cpython-310.pyc
.vscode/settings.json
todo.txt 
Tools
blueprint
user_app/templates/pinegrow.json
.vscode/tasks.json
CORE/.env
env.py
.htmlhintrc
user.json
rbmusers.json
