{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}

<div class="container-auto">
    <div class="row align-items-center justify-content-center background-div" style="min-height: 550px;">
        <div class="col-md-6 p-5 m-5 bg-secondary bg-light text-black shadow rounded-5">
            <div class="main">
                <h2>Log In</h2>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
