.tab {
    display: none;
}
.tab.active {
    display: block;
}

body{
  overflow-x: hidden;
  margin-bottom:  50px; /* content not hidden by footer */
}

/* body {background:#); */

  .nav-link[aria-current="page"]{
    text-decoration: underline rgb(9, 0, 5) 4px;
    text-underline-offset: 18px;
  }


.background-div {
      background-image: url("/static/images/2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh; /* Set the height of the background to fill the viewport */
}

.padtop {
      padding-top: 4.5rem !important;
}

.footer {
      height: 30px;
  }