/* css reset */
*{
  margin: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}

/* Adjusting font size   */

html {
  height: -webkit-fill-available;
  font-size: 85%; /* Reduces text size to 80% of the original size */

}

h1 {
  font-size: 2rem; /* Reduced from 2.5rem */
}

h2 {
  font-size: 1.6rem; /* Reduced from 2rem */
}

h3 {
  font-size: 1.4rem; /* Reduced from 1.75rem */
}

h4 {
  font-size: 1.2rem; /* Reduced from 1.5rem */
}

h5 {
  font-size: 1rem; /* Reduced from 1.25rem */
}

h6 {
  font-size: 0.8rem; /* Reduced from 1rem */
}

/* Menu JS animation   */

.tab {
  display: none;
}
.tab.active {
  display: block;
}


/*    */

body {
overflow: hidden;
height: -webkit-fill-available;
height:100%;
margin-bottom: 55px;
display: flex;
flex-direction: column;
padding: 0px; /* content not hidden by footer */
border: solid rgb(128, 0, 0) 2px; 
}




.main-content {
 /* Tested for all type of device */
overflow:none;
margin-top: 0px;
margin-bottom:75px ; 
padding: 0px;
border: solid rgb(255, 196, 0) 2px; /*  visual guide  */
flex: 1;
display: flex;
flex-direction: column;
}

/*Background for div inside Main Content    */
.background-div {
  background-image: url("/static/images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80dvh; /* Set the height of the background to fill the viewport */
  }
  
/*  visual guide class  */
.guider {
border: solid red 1px; 
}

/*  visual guide class  */
.guidey {
  border: solid rgb(237, 222, 7) 1px; 
  }

/*  visual guide class  */
.guidemain {
  border: #ff00b3 3px;
  border-style: dotted; 
  }
  
  /*  visual guide class  */
  .guidev {
    border: solid green 3px; 
    }
  
    /*  visual guide class  */
  .guideb {
    border: solid blue 1px; 
    }
  


/*  Section set div height  */
.height9 {
height:100%;
}

.height5 {
  height: 50dvh;
}
.height6 {
  height: 60dvh;
}


/* ---Section Navigation bar   */

/*  navbar height   */
.navbar {
position: relative;
height: 40px;
padding: 0px;

}

/* Navigation bar  active page underline with border */

.nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 15px; 
  }
  
  .nav-link[aria-current="page"] {
  position: relative;
  }
  
  /* ========================underline active menu ============*/

  .nav-link[aria-current="page"]::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px; /* position border */
  height: 4px; /* height of the border */
  background: rgb(2, 0, 0); /* Border color */
  } 
  
/* ==============Section Sandwich button ===================== */

.navbar-toggler {
  position: relative;
  border: 0px solid black;
  width: 28px; 
  height: 28px; 
  margin-right:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  /* Sandwich button menu */
  .navbar-collapse {
    background-color: #f8f9fa; 
    margin-top: 0px; 
    padding: 0px; 
  }
  
  /* Sandwich button Icon - red color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 35px; 
  height:35px;   
}

/*  Section card  */

.card {
 min-height: 100%;
}

.card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}

  
/* Footer section   */

.footer {
height: 75px; /* footer height */
text-align: center;
padding: 20px;
box-sizing: border-box;
}

.btn-social { 
font-size: 0.8rem;
}

/*
  --battleship-gray: #8D8D8Dff;
--platinum: #DEDEDEff;
--cadet-gray: #A0A0A0ff;
--silver: #B3B3B3ff;
--raisin-black: #282828ff;
*/
/*=========== Media Query ===============*/

@media (max-width: 540px) {
  
  html {
    height: -webkit-fill-available;
    font-size: 60%; /* Reduces text size to 60% of the original size */
  
  }

  .auto-size {
    width: 100%;
    height: auto;
  }
 
.small-device{
  margin-top: 0.5rem;
}

  .main-content {
    overflow: auto; /* overflow auto on small screens */
    padding-top:0px;
    }
  
  }

.col {
  width: 50%;
}

.card {
  .card {
  transform: scale(0.9); /* Reduce size by 20% */
  padding-top: 25px;
  margin-top: 15px;
  margin-bottom 15px;
 }
}
/*=========== Media Query ===============*/

@media (max-width: 320px) 
 {
  .small-device{
    margin-top: 2.5rem;
  }
  .card {
    .card {
    transform: scale(0.); /* Reduce size by 20% */
    
   }
  }
}