
/* #region ================== CSS RESET =============== */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* #endregion */


/* #region Typography Styles */
/* Adjusting font size   */

html {
  height: -webkit-fill-available;
  font-size: 85%; /* Reduces text size to 85% of the original size */

}

h1 {
  font-size: 2rem; /* Reduced from 2.5rem */
}

h2 {
  font-size: 1.6rem; /* Reduced from 2rem */
}

h3 {
  font-size: 1.4rem; /* Reduced from 1.75rem */
}

h4 {
  font-size: 1.2rem; /* Reduced from 1.5rem */
}

h5 {
  font-size: 1rem; /* Reduced from 1.25rem */
}

h6 {
  font-size: 0.8rem; /* Reduced from 1rem */
}
/* #endregion */

/* Menu JS animation cx profile   */

.tab {
  display: none;
}
.tab.active {
  display: block;
}


/*#region Body Main content and sub-div */

body {
overflow: hidden;
height: -webkit-fill-available;
height:100%;
margin-bottom: 50px;
display: flex;
flex-direction: column;
padding: 0px; /* content not hidden by footer */
border: solid rgb(128, 0, 0) 0px; 
background-color: #282828ff;
}




.main-content {
 /* Tested for all type of device */
height: 100vh;
overflow-y: auto; /* Enable vertical scrolling */
max-width: 1280px; 
margin-top: 0px;
margin-bottom:50px ; 
padding: 0px;
border-top: solid rgb(23, 6, 6) 0px; /*  visual guide  */
border-bottom: solid rgb(255, 0, 0) 0px; /*  visual guide  */
flex: 1;
display: flex;
flex-direction: column;
}

.content-div {
  width: calc(99% - 2rem); /* Force to be center */
  max-width: 1000px; /* allow small margin and to center the div */
  margin: 0 auto;
  flex: 1; /* div to expand and fill the available vertical space within its flex container*/
  border: solid #ff00b3 0px;
  overflow-y: visible !important;
  overflow-x: hidden;
  
}

.container-xl {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}


/*Background for div inside Main Content    */
.background-div {
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh; /* Set the height of the background to fill the viewport */
  }

/* #endregion */

/*#region =========== Footer  ===============*/

.footer {
  height: 60px; /* footer height */
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  background-color:#8D8D8Dff;
  
  }
  
  .btn-social { 
  font-size: 0.8rem;
  }
  
  /* #endregion */

/*#region ========Visual Guide Styles */

/*  visual guide class  */
.guider {
border: solid red 0px; 
}

/*  visual guide class  */
.guidey {
  border: solid rgb(237, 222, 7) 0px; 
  }

/*  visual guide class  */
.guidemain {
  border: #ff00b3 0px;
  border-style: dotted; 
  }
  
  /*  visual guide class  */
  .guidev {
    border: solid green 0px; 
    }
  
    /*  visual guide class  */
  .guideb {
    border: solid blue 0px; 
    }

/* #endregion */

/*#region=========== set div height===========================  */

.height9 {
height:100%;
}

.height5 {
  height: 50dvh;
}
.height6 {
  height: 60dvh;
}
/* #endregion */

/*#region===== Navigation bar active page underline with border */


.nav-link {
  position: relative;
  display: inline-block;
  padding: 8px 15px; 
  }
  
  .nav-link[aria-current="page"] {
  position: relative;
  }
  
  /* ========================underline active menu ============*/

  .nav-link[aria-current="page"]::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px; /* position border */
  height: 2px; /* height of the border */
  background: rgb(245, 245, 245); /* Border color */
  } 
  
  /* #endregion */

/*#region============== Sandwich button ===================== */



.navbar-toggler {
  position: relative;
  border: none; /* Remove border */
  width: 50px; /* Increase width by 3px */
  height: 50px; /* Increase height by 3px */
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On hover, focus, and active states remove border on hover, focus, and active state */
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none; 
  outline: none;
  box-shadow: none;
}

/* Sandwich button menu */
.navbar-collapse {
  margin-top: 0;
  padding: 0;
}

/* Sandwich button Icon - white color */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 35'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 50px; /* Increase width by 3px */
  height: 50px; /* Increase height by 3px */
}



/* #endregion */

/*#region =========== CARDS ======================*/

.card {
 min-height: 100%;
}

.card-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.card-text {
  flex-grow: 1;
}
/* #endregion */

/*#region =========== Medi Query TABLE EXPERT ===============*/


/* table card */

@media (max-width: 768px) {
  .table-container table,
  .table-container thead,
  .table-container tbody,
  .table-container th,
  .table-container td,
  .table-container tr {
    display: block;
  }

  .table-container thead tr {
    display: none;
  }

  .table-container tr {
    margin-bottom: 1.5rem; /* Add space between cards */
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding:  0.5rem;
    background-color: #f8f9fa; /* White background for cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000; /* Dark text color */
  }

  .table-container td {
    position: relative;
    padding-left:50%;
    text-align: right;
    border: none; /* Remove table borders for card view */
    border-bottom: 1px solid #dee2e6; /* Add border to separate items */
    color: #000; /* Dark text color */
  }

  .table-container td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
      font-weight: bold;
    text-align: left;
    white-space: nowrap; 
    color: #6c757d; 
  }

  .table-container td:last-child {
    border-bottom: none; /* Remove border from last item */
  }

  /* Additional styles to ensure no fine lines between cards */
  .table-container {
    border: none;
    padding: 0;
  }

  .table-container table {
    border-spacing: 0;
    border-collapse: separate;
  }

  /*Margin between the word and the remove button */
.select2-selection__choice {
  padding-right: 20px; /* Adjust padding to increase/decrease space */
}

.select2-selection__choice__remove {
  margin-left: 5px; /* Adjust margin to increase/decrease space */
}

}

/* #endregion */

/*#region =========== Media Query 992  =============*/

@media screen and (aspect-ratio: 16/9) {
  .main-content {
    overflow: auto; /* overflow auto on small screens */
    padding-top:0px;
    }
}

@media (max-width: 1280px) {

  .main-content {
    overflow: auto; /* overflow auto on small screens */
    padding-top:0px;
    }
  }

/* #endregion */

/*#region =========== Media Query 540  =============*/

@media (max-width: 540px) {
  
  html {
    height: -webkit-fill-available;
    font-size: 60%; /* Reduces text size to 60% of the original size */
  
  }

  /*Background for div inside Main Content    */
.background-div {
  background-image: url("/static/images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90dvh; /* Set the height of the background to fill the viewport */
  }

  .auto-size {
    width: 100%;
    height: auto;
  }
 
.small-device{
  margin-top: 0.5rem;
  padding-top: 25px;
}

  .main-content {
    overflow: auto; /* overflow auto on small screens */
    padding-top:0px;
    }
  
  }

.col {
  width: 50%;
}

.card {
  .card {
  transform: scale(0.8); /* Reduce size by 20% */
  padding-top: 25px;
  margin-top: 13px;
  margin-bottom :15px;
 }
}
/* #endregion */

/* #region=========== Media Query 320 ==============*/

@media (max-width: 320px) {
 
  html {
    height: 100vh;
    font-size: 60%; /* Reduces text size to 60% of the original size */
  
  }
  
  .small-device{
    margin-top: 100px;
    padding-top: 50px;
  }

.main-content {                     /* view between navbar and footer */

 overflow:hidden;
 margin-top: 0px;
 margin-bottom:50px ; 
 padding: 0px;
 border: solid rgb(0, 255, 234) 0px; /*  visual guide  */
 flex: 1;
 display: flex;
 flex-direction: column;
}

/*Background for div inside Main Content    */
.background-div {
  background-image: url("/static/images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%; /* Set the height of the background to fill the viewport */
  }

  .card {
    transform: scale(0.8); /* Reduce size by 20% */
    padding-top: 25px;
    margin-top: 13px;
    margin-bottom: 15px;
  }

  }



/* #endregion */

/* #region=========== COLORS ========================*/
/*
  --battleship-gray: #8D8D8Dff;
--platinum: #DEDEDEff;
--cadet-gray: #A0A0A0ff;
--silver: #B3B3B3ff;
--raisin-black: #282828ff;
*/
/* #endregion */