{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-fluid">
    <div class="container-auto">
        <div class="row justify-content-center">
                <h1 class="text-center mb-4">Your booking with our Experts</h1>
                        <div class="table-responsive">
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Expert</th>
                                        <th>Customer</th>
                                        <th>Check-in</th>
                                        <th>Check-out</th>
                                        <th>Location</th>
                                        <th>Notes</th>
                                        <th>Action Edit</th>
                                        <th>Action Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.BookingExpert }}</td>
                                        <td>{{ booking.CustomerUser }}</td>
                                        <td>{{ booking.checkin }}</td>
                                        <td>{{ booking.checkout }}</td>
                                        <td>{{ booking.location }}</td>
                                        <td>{{ booking.notes }}</td>
                                        <td>
                                            <button class="btn btn-primary"><a href="{% url 'edit_booking' booking.id %}" class="text-white">Edit</a></button>   
                                        </td>

                                        <td>
                                            <button class="btn btn-danger"><a href="{% url 'delete_booking' booking.id %}" class="text-white">Delete</a></button>        
                                        </td>    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
              </div>
        </div>
    </div>
</section>
{% endblock %}
