{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-xl d-flex flex-column m-0 guidemain  bg-info w-100 h-100">
    <div class="row p-0 gx-0 d-flex justify-content-center w-100 h-100">
      <!--Force div to be centered with content-div class-->
      <div class="col-12 p-0 m-0 d-flex flex-column bg-warning content-div text-black rounded-2 align-items-center">
        <div class="row g-0 m-0 justify-content-center">
          <div class="col-12 text-center">
            <br>
            <h1>RBM</h1>
            <br>
            <p>A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
          </div>
          <hr>
        </div>
            <div class="row m-2 g-3 w-100">
	<!--table to display the selected list of experts by skills-->
        <div class="container mt-5">
                        <div class="table-container">
                           <table class="table">
                                <thead>
                                    <tr>
                                        <th>Expert</th>
                                        <th>Customer</th>
                                        <th>Check-in</th>
                                        <th>Check-out</th>
                                        <th>Location</th>
                                        <th>Notes</th>
                                        <th>Action Edit</th>
                                        <th>Action Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for booking in bookings %}
                                    <tr>
                                        <td data-label="Expert Name">  {{ booking.BookingExpert }}</td>
                                        <td data-label="Customer Name">{{ booking.CustomerUser }}</td>
                                        <td data-label="Check-in date">{{ booking.checkin }}</td>
                                        <td data-label="Check-out date">{{ booking.checkout }}</td>
                                        <td data-label="Location">{{ booking.location }}</td>
                                        <td data-label="Notes">{{ booking.notes }}</td>
                                        <td>
                                            <button class="btn btn-primary"><a href="{% url 'edit_booking' booking.id %}" class="text-white">Edit</a></button>   
                                        </td>

                                        <td>
                                            <button class="btn btn-danger"><a href="{% url 'delete_booking' booking.id %}" class="text-white">Delete</a></button>        
                                        </td>    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
              </div>
        </div>
        
    </div>
{% endblock %}
