{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %}Edit booking{% endblock title %}
{% block content %}

<div class="container-xl d-flex flex-column m-0 guidemain w-100 h-100">
    <div class="row p-0 gx-0 d-flex justify-content-center w-100 h-100">
      <!--Force div to be centered with content-div class-->
      <div class="col-12 p-0 m-0 d-flex flex-column bg-light content-div text-black rounded-2 align-items-center">
        <div class="row g-0 m-0 justify-content-center">
          <div class="col-12 text-center">
            <br>
            <h1>RBM</h1>
            <br>
            <p>A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
          </div>
          <hr>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h3>Edit Booking</h3>
                        <form method="post">            
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Save Changes</button>

                                <!-- Delete Button -->
                                <form action="{% url 'delete_booking' booking.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete Booking</button>
                                </form>

                                <!-- Cancel Button -->
                                <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
{% endblock %}