{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Booking{% endblock title %}
{% block content %}

<div class="container-xl d-flex flex-column m-0 guidemain  bg-info w-100 h-100">
    <div class="row p-0 gx-0 d-flex justify-content-center w-100 h-100">
      <!--Force div to be centered with content-div class-->
      <div class="col-12 p-0 m-0 d-flex flex-column bg-warning content-div text-black rounded-2 align-items-center">
        <div class="row g-0 m-0 justify-content-center">
          <div class="col-12 text-center">
            <br>
            <h1>RBM</h1>
            <br>
            <p>A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
          </div>
          <hr>
        </div>

    {% if messages %}
    <div class="alert alert-danger" role="alert">
        <ul class="messages list-unstyled">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Edit Booking</h3>
                <form method="post">            
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
                <!-- Delete Button -->
                <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Delete Booking</a>
            </div>
        </div>
    </div>
    
{% endblock %}

</div><!-- Closing div -->
</div><!-- Closing div -->
</div><!-- Closing div -->
