{% extends "base.html" %}
{% load static %}

{% load crispy_forms_filters %} 

{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if request.user.is_authenticated and request.user.is_customer %}
                    <h3>Booking Form</h3>
                    <form method="post" action="{% url 'handle_booking_submission' expert.id %}" enctype="multipart/form-data">     
                      {{ debug }}       
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        You can't accessthis booking.
                    </div>
                    {% if is_customer %}
                        <a href="{% url 'edit_booking' expert.id %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

