{% extends 'base.html' %}
{% load static %}
{% block title %}Customer Profile{% endblock %}

{% block content %}
<script src="{% static 'js/tab.js' %}" defer></script>

<div class="d-flex align-items-center primary justify-content-center" style="height: 550px;">
    <div class="p-5 m-5 bg-secondary bg-gradient text-black shadow rounded-5">
        <h1>Customer Profile</h1>
    
        <button onclick="openTab('edit')">Edit Profile</button>
        <button onclick="openTab('view')">View Profile</button>
        <button onclick="openTab('view')">check your booking</button>
    <div id="editTab" class="tab">
        <form method="post" action="{% url 'customer_profile' %}">
            {% csrf_token %}
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="{{ user.name }}"><br>
            <label for="name">email:</label><br>
            <input type="text" id="name" name="name" value="{{ user.email }}"><br>
            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location" value="{{ user.location }}"><br><br>
            <button type="submit">Update Profile</button>
        </form>
    </div>
    <div id="viewTab" class="tab">
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Location:</strong> {{ user.location }}</p>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>


{% endblock %}