{% extends 'base.html' %}
{% load static %}
{% block title %}Customer Profile{% endblock %}

{% block content %}
<script src="{% static 'js/tab.js' %}" defer></script>

<div class="container-xl d-flex flex-column m-0 guidemain w-100 h-100">
    <div class="row p-0 gx-0 d-flex justify-content-center w-100 h-100">
      <!--Force div to be centered with content-div class-->
      <div class="col-12 p-0 m-0 d-flex flex-column bg-light content-div text-black rounded-2 align-items-center">
        <div class="row g-0 m-0 justify-content-center">
          <div class="col-12 text-center">
            <br>
            <h1>RBM</h1>
            <br>
            <p>A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
          </div>
          <hr>
        </div>
            <div class="row m-2 g-3 w-100">
            <div class="col-lg-12">

            <h1 class="text-center">{{ user.first_name }} {{ user.last_name }}'s Profile</h1>
            <br>
            <p class="text-center">Welcome {{ user.first_name }} {{ user.last_name }}, you logged in successfully.</p>
            <br>
            <p class="text-center">Your username is {{ user.username }}. Your last connection was on {{ user.last_login }}.</p>         
            <div class="d-flex justify-content-center">
            <div class="text-center">
                <button onclick="openTab('edit')" class="btn m-2 btn-outline-primary">Edit Profile</button>
                <button onclick="openTab('view')" class="btn m-2 btn-outline-primary">View Profile</button>
            </div>
            <div>
                <form method="post" action="{% url 'delete_profile' %}" id="deleteForm">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn m-2 btn-outline-primary" type="button" onclick="confirmDelete()">Delete Profile</button>
                </form>
            </div>
            </div>
            <br>
            <hr>

            <div id="editTab" class="tab">
                <form method="post" action="{% url 'customer_profile' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="{{ user.first_name }}" required>
                        <div class="invalid-feedback">
                            Please provide a first name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="{{ user.last_name }}" required>
                        <div class="invalid-feedback">
                            Please provide a last name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ user.location }}" required>
                        <div class="invalid-feedback">
                            Please provide a location.
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
                
                
            </div>

            <div id="viewTab" class="tab" style="display: none;">
                <p><strong>Your Login and User Name is :</strong> {{ user.username }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Last Connection:</strong> {{ user.last_login }}</p>
                <p><strong>Location:</strong> {{ user.location }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    function confirmDelete() {
        if (confirm('Are you sure you want to delete your profile?')) {
            document.getElementById('deleteForm').submit();
        }
    }
</script>
{% endblock %}