{% extends 'base.html' %}
{% load static %}
{% block title %}Expert view{% endblock title %}
{% block content %}

<div class="container-xl d-flex flex-column m-0 guidemain w-100 h-100">
    <div class="row p-0 gx-0 d-flex justify-content-center w-100 h-100">
      <!--Force div to be centered with content-div class-->
      <div class="col-12 p-0 m-0 d-flex flex-column bg-light content-div text-black rounded-2 align-items-center">
        <div class="row g-0 m-0 justify-content-center">
          <div class="col-12 text-center">
            <br>
            <h1>RBM</h1>
            <br>
           <p>A dynamic booking consultancy firm connecting clients with experts across various fields.</p>
        </div>
        <hr>
      </div>
          <div class="row m-2 g-0 w-100">
  <!--table to display the selected list of experts by skills-->
      <div class="container mt-5">
                      <div class="table-container">
          </div>
          <hr>
        </div>
                    <div class="col-lg-12 g-2">
                        <h3 class="text-center">Expert Details</h3>
                        <div class="table-container">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Username:</th>
                                        <td>{{ expert.user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">First Name:</th>
                                        <td>{{ expert.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Last Name:</th>
                                        <td>{{ expert.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Start Date:</th>
                                        <td>{{ expert.start_date }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Skills:</th>
                                        <td>
                                            <ul class="list-group">
                                                {% for skill in expert.skills.all %}
                                                    <li class="list-group-item">{{ skill.category }}: {{ skill.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between mt-5">
                                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}