{% extends 'base.html' %}
{% block title %}Expert Detail{% endblock %}
{% block content %}


<body>
    <h1>Experts</h1>
<div class="container-xl">
    <div class="row">
        <div class="col-lg-3">
            <!--search Tagging with multi-value select boxes Select2-->
            <h3>Filters</h3>
            checking if view is correct listing all the skills
            <ul>
    {% for skill in all_skills %}
        <li>{{ skill.name }}</li>
    {% endfor %}
            </ul>


            <!--Form to send the selection of skills-->    
            <form method="get">
                <label for="skills">Filter by Skills:</label>
                <select name="skills[]" id="skills" style="width:80%;">
                    {% for skill in skills %}
                    <option value="{{ skill.name }}" {% if skill.name in request.GET.skills %}selected{% endif %}>{{ skill.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
            <!--table to display the selected list of experts by skills-->
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Location</th>
                        <th>Start Date</th>
                        <th>Skills</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for expert in filtered_experts %}
                <tr>
                <td>{{ expert.user.first_name }}</td>
                <td>{{ expert.user.last_name }}</td>
                <td>{{ expert.user.location }}</td>
                <td>{{ expert.start_date }}</td>
                <td>
                    {% for skill in expert.skills.all %}
                        {{ skill.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                <!--view detials and booking buttons-->    
                </td>
            </tr>
            </table>
        </div>
        <div>
            {% empty %}
            <ul>No results found</ul>
            {% endfor %}    
        </div>    
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#').select2({
                placeholder: 'Select skill',
                tags: true,
                tokenSeparators: [',', ' '],
                allowClear: true
            });
        });
    </script>
</body>
{% endblock %}
