{% extends 'base.html' %}

{% block title %}Consultant Expert list{% endblock %}

{% block content %}

<div class="d-flex align-items-center primary justify-content-center" style="height: 550px;">
    
    <div class="p-5 m-5 bg-secondary bg-gradient text-black shadow rounded-5">
    
    <h1>Our Expert consultants</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr class="table-secondary">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Location</th>
            <th>Last Update </th>
            <th>Skillset</th>
            <th>Joined the company</th>
        </tr>
    </thead>
<!--show the coresponding fiels -->
    <tbody>
        {% for expert in experts %}
            <tr class="table-secondary">
                <td>{{ expert.user.first_name }}</td>
                <td>{{ expert.user.last_name }}</td>
                <td>{{ expert.user.location }}</td>
                <td>{{ expert.user.updated_at }}</td>
                <td>
                    <ul>
                        {% for skill in expert.skills.all %}
                            <li>{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ expert.start_date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    

{% endblock %}