{% extends 'base.html' %}
{% block title %}Expert Detail{% endblock %}
{% block content %}

<div class="container-xl">
    <div class="row">
        <div class="col-lg-3">
            <!--Tagging with multi-value select boxes-->
            <h3>Filters</h3>
            <form method="get">
                <label for="skills">Filter by Skills:</label>
                <select name="skills[]" id="skills" multiple="multiple" style="width: 50%;">
                    {% for skill in skills %}
                    <option value="{{ skill }}">{{ skill }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
            <ul>
               <li>{}</li>
               <li>{}</li> 
            </ul>
        </div>
        <div class="col-lg-9">
            <h1>All Experts</h1>
            <div class="table-responsive" id="expert-table">
                
            </div>
        </div>
    </div>
</div>


{% endblock %}
